{% for action in actions %}
    <div class="action-container">
        <div class="action">
            <h3 class="action-title">
                <span class="badge color-{{ action.color_class }}"><i class="fa {{ action.icon_class }}"></i></span>
                {{ action.title }}
            </h3>
            <p class="action-description">{{ action.content }}</p>
        </div>
    </div>
{% endfor %}

<div class="action-container">
    <button data-toggle="modal" data-target="#addActionModal" class="btn btn-primary"><i class="fa fa-thumb-tack"></i> Add a new action</button>
</div>