{% extends "layouts/app.html.twig" %}

{% block title %}Hatch new trip{% endblock %}

{% block content %}

<section class="container-section">
    <div class="container">
        Hatch a trip
    </div>
</section>

{% endblock %}