{% extends "layouts/trip.html.twig" %}

{% block title %}{{ t('pages.trip.manage-people.title') }}{% endblock %}

{% block content %}

    <section class="container-section">
        <div class="container">
            form and stuff
        </div>
    </section>

{% endblock %}