{% extends "layouts/app.html" %}

{% block title %}Trip overview{% endblock %}

{% block content %}

<section class="container-section">
    <div class="container">
        <h1 class="text-center trip-title">Random long summer trip 2018</h1>
        <!-- if permissions > normal user (organizer or creator) -->
        <div class="trip-detail-controls">
            <div class="trip-manage-people-container col-xs-6">
                <a class="btn btn-primary btn-block trip-manage-people"><i class="fa fa-user"></i> Manage people</a>
            </div>
            <div class="trip-add-day-container col-xs-6">
                <a class="btn btn-primary btn-block trip-add-day"><i class="fa fa-calendar-plus-o"></i> Add a new day</a>
            </div>
        </div>
        <div class="trip-days-container">
            <div class="trip-day-container col-xs-12">
                <div class="trip-day">
                    <div class="trip-day-head">
                        <img src="../images/mountains-thumbnail.jpg" class="img-responsive trip-day-thumbnail" alt="">
                        <a class="day-collapse-btn" data-toggle="collapse" data-target="#day1"><i class="fa fa-2x fa-plus"></i></a>
                        <h2>Long long day title 1</h2>
                    </div>
                    <div id="day1" class="trip-day-body-container collapse">
                        <div class="trip-day-body">
                            <div class="no-actions alert alert-info alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>No actions found...
                            </div>
                            <div class="action-container">
                                <button class="btn btn-primary"><i class="fa fa-thumb-tack"></i> Add a new action</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trip-day-container col-xs-12">
                <div class="trip-day">
                    <div class="trip-day-head">
                        <img src="../images/mountains-thumbnail.jpg" class="img-responsive trip-day-thumbnail" alt="">
                        <a class="day-collapse-btn" data-toggle="collapse" data-target="#day2"><i class="fa fa-2x fa-plus"></i></a>
                        <h2>Long long day title 2</h2>
                    </div>
                    <div id="day2" class="trip-day-body-container collapse">
                        <div class="trip-day-body">
                            <div class="action-container">
                                <h3 class="action-title">Action title 2.1</h3>
                                <p class="action-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque faucibus velit vel semper accumsan. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                            </div>
                            <div class="action-container">
                                <h3 class="action-title">Action title 2.2</h3>
                                <p class="action-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque faucibus velit vel semper accumsan. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                            </div>
                            <div class="action-container">
                                <button class="btn btn-primary"><i class="fa fa-thumb-tack"></i> Add a new action</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trip-day-container col-xs-12">
                <div class="trip-day">
                    <div class="trip-day-head">
                        <img src="../images/mountains-thumbnail.jpg" class="img-responsive trip-day-thumbnail" alt="">
                        <a class="day-collapse-btn" data-toggle="collapse" data-target="#day3"><i class="fa fa-2x fa-plus"></i></a>
                        <h2>Long long day title 3</h2>
                    </div>
                    <div id="day3" class="trip-day-body-container collapse">
                        <div class="trip-day-body">
                            <div class="action-container">
                                <h3 class="action-title">Action title 3.1</h3>
                                <p class="action-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque faucibus velit vel semper accumsan. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                            </div>
                            <div class="action-container">
                                <button class="btn btn-primary"><i class="fa fa-thumb-tack"></i> Add a new action</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}