{% extends "layouts/trip.html.twig" %}

{% block title %}{{ t('pages.trip.show.title') }}{% endblock %}

{% block content %}

{% if isOrganiser %}
    {% include "modals/day-edit.html.twig" %}
    {% include "modals/action-add.html.twig" %}
    {% include "modals/action-edit.html.twig" %}
{% endif %}

<section class="container-section">
    <div class="container">
        <h1 class="text-center trip-title">{{ trip.title }}</h1>
        <div class="trip-days-container">
            {% for day in days %}
                {% include "layouts/_day.html.twig" %}
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}