{% extends "layouts/admin.html.twig" %}

{% block title %}Administration{% endblock %}

{% block content %}

    <h2 class="text-center">Administration</h2>
    <p class="text-center">Admin dashboard and stuff</p>

{% endblock %}