{% extends "layouts/admin.html.twig" %}

{% block title %}{{ t('pages.admin.dashboard.title') }}{% endblock %}

{% block content %}

    <div class="admin-content">
        <h1 class="text-center">{{ t('pages.admin.dashboard.heading') }}</h1>
        <p class="text-center">{{ t('pages.admin.dashboard.text') }}</p>
    </div>

{% endblock %}