{% extends "layouts/app.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<section class="container-section">
    <div class="container">
        <h1 class="text-center">Dashboard</h1>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="trip/1"><!-- a {display:block;} -->
                        <img src="" alt="">Trip cover image thumbnail
                        <h3>Trip title</h3>
                    </a>
                    <p>Trip description</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="trip/create">
                        <h3>Hatch a new trip</h3>
                        <i class="fa fa-plus-circle"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}