{% extends "layouts/app.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<section class="container-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 trip-controls">
                <div class="col-sm-9 trip-search-container">
                    <form class="trip-search-form">
                        <div class="input-group">
                            <span class="input-group-addon" id="addon1"><i class="fa fa-search"></i></span>
                            <input type="text" placeholder="Search" class="form-control trip-search" aria-describedby="addon1">
                        </div>
                    </form>
                </div>
                <div class="col-sm-3 trip-add-container">
                    <a href="/trip/hatch" class="btn btn-primary btn-block trip-add">Hatch a new trip</a>
                </div>
            </div>
            {% for i in 1..5 %}
            <div class="col-sm-6 col-md-4 trip-card-container">
                <div class="trip-card">
                    <div class="trip-image-container">
                        <img src="images/mountains-trip-card.jpg" class="trip-image img-responsive" alt="">
                    </div>
                    <div class="trip-text">
                        <a href="/trip/2">
                            <h3>Very very very very very very long trip title</h3>
                        </a>
                        <div class="trip-people">
                            {% for i in 1..4 %}
                            <a href="/profile/username">
                                <img src="images/avatar-default.jpg" class="trip-person img-circle" alt="">
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}