{% extends "layouts/app.html.twig" %}

{% block title %}Landing Page{% endblock %}

{% block content %}

<section class="container-section">
    <div class="container">
        <h1 class="text-center">Layout Page</h1>
        <h2 class="text-center">Section 1</h2>
        <p class="text-justify text-paragraph">
            Sed eros sem, sodales non ullamcorper malesuada, varius non leo.
            Nam hendrerit velit non arcu consequat vulputate. Donec fringilla dui lectus, eu lacinia lacus feugiat vel.
            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc id tincidunt ante.
            Phasellus tortor felis, placerat sit amet maximus in, fermentum ut orci.
            Pellentesque venenatis justo id justo tincidunt, eu tempor ante porttitor.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris a porta nulla.
            Nullam fringilla mollis ipsum, id dictum turpis posuere eu.
        </p>
        <p class="text-justify text-paragraph">
            Sed eros sem, sodales non ullamcorper malesuada, varius non leo.
            Nam hendrerit velit non arcu consequat vulputate. Donec fringilla dui lectus, eu lacinia lacus feugiat vel.
            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc id tincidunt ante.
            Phasellus tortor felis, placerat sit amet maximus in, fermentum ut orci.
        </p>
    </div>
</section>
<section class="container-section">
    <div class="container">
        <h2 class="text-center">Section 2</h2>
        <p class="text-justify text-paragraph">
            Sed eros sem, sodales non ullamcorper malesuada, varius non leo.
            Nam hendrerit velit non arcu consequat vulputate. Donec fringilla dui lectus, eu lacinia lacus feugiat vel.
            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc id tincidunt ante.
            Phasellus tortor felis, placerat sit amet maximus in, fermentum ut orci.
            Praesent lacinia tincidunt magna, gravida accumsan sapien tempor nec.
            Pellentesque venenatis justo id justo tincidunt, eu tempor ante porttitor.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris a porta nulla.
            Nullam fringilla mollis ipsum, id dictum turpis posuere eu.
        </p>
    </div>
</section>
<section class="container-section">
    <div class="container">
        <h2 class="text-center">Section 3</h2>
        <p class="text-justify text-paragraph">
            Sed eros sem, sodales non ullamcorper malesuada, varius non leo.
            Nam hendrerit velit non arcu consequat vulputate. Donec fringilla dui lectus, eu lacinia lacus feugiat vel.
            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc id tincidunt ante.
            Phasellus tortor felis, placerat sit amet maximus in, fermentum ut orci.
            Pellentesque venenatis justo id justo tincidunt, eu tempor ante porttitor.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris a porta nulla.
            Nullam fringilla mollis ipsum, id dictum turpis posuere eu.
        </p>
        <p class="text-justify text-paragraph">
            Sed eros sem, sodales non ullamcorper malesuada, varius non leo.
            Nam hendrerit velit non arcu consequat vulputate. Donec fringilla dui lectus, eu lacinia lacus feugiat vel.
            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc id tincidunt ante.
            Phasellus tortor felis, placerat sit amet maximus in, fermentum ut orci.
        </p>
    </div>
</section>

{% endblock %}