@import 'variables';

.navbar {
  border: none;
  background: $navigation_background;
  border-radius: 0;
  color: $navigation_text_color;
  height: $navigation_height;
  line-height: $navigation_height;
  margin-bottom: 0;

  .navigation {
    .navbar-header {
      position: relative;
      z-index: 1022;

      a.logo {
        display: inline-block;
        height: $navigation_height;
        margin-left: $application_margin;
        color: $navigation_text_color;

        @media screen and (min-width: $size-sm) {
          margin-left: 0;
        }
      }

      button.navbar-toggle {
        margin-top: (($navigation_height - 34) / 2);
        margin-bottom: (($navigation_height - 34) / 2);
        margin-right: $application_margin;

        span {
          background: $navigation_text_color;
        }
      }
    }

    #navigation {
      z-index: 1021;
      position: relative;
      background: $navigation_sub_background;
      margin-left: 0;
      margin-right: 0;
      border-bottom-left-radius: $application_border_radius;
      border-bottom-right-radius: $application_border_radius;
      box-shadow: 0 0 $application_shadow_distance $application_shadow_color;

      @media screen and (min-width: $size-sm) {
        background: $navigation_background;
        box-shadow: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      ul.navbar-nav {
        margin-left: 0;
        margin-right: 0;
      }

      li {
        border-bottom: 1px solid $navigation_sub_text_color;

        @media screen and (min-width: $size-sm) {
          border-bottom: none;
        }

        &:last-of-type {
          border-bottom: none;
        }

        &.user-avatar-wrapper {
          a {
            padding-top: 10px;

            img.user-avatar {
              height: 40px;
            }
          }
        }
      }

      a {
        color: $navigation_sub_text_color;

        @media screen and (min-width: $size-sm) {
          height: $navigation_height;
          line-height: $navigation_height;
          padding: 0;
          margin-right: -$application_margin;
          color: $navigation_text_color;
        }

        &:hover, &:focus {
          background: $navigation_sub_background;
          color: $navigation_sub_text_color_hover;

          @media screen and (min-width: $size-sm) {
            color: $navigation_text_color;
            background: $navigation_background;
            text-decoration: underline;
          }
        }

        &.logout {
          float: right;
          margin-right: $application_margin;
        }
      }
    }
  }
}