@import "variables";

div.admin-content {
  @media screen and (min-width: $size-sm) {
    margin-left: 20%;
    width: 80%;
    float: left;
  }

  padding: $application_padding;

  .admin-section {
    margin-bottom: $application_margin;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    .info-box-container {
      margin-left: -$application_margin / 2;
      margin-right: -$application_margin / 2;

      .info-box-wrapper {
        padding-left: $application_margin / 2;
        padding-right: $application_margin / 2;
        margin-bottom: $application_margin;
      }
    }
  }

  table.admin-table {
    border-radius: $application_border_radius;
    box-shadow: 0 0 $application_shadow_distance $application_shadow_color;

    tbody {
      border-radius: $application_border_radius;
    }

    tr {
      &:first-of-type {
        border-top-right-radius: $application_border_radius;
        border-top-left-radius: $application_border_radius;
      }

      &:last-of-type {
        border-bottom-right-radius: $application_border_radius;
        border-bottom-left-radius: $application_border_radius;
      }

      th {
        text-align: center;
      }
    }
  }
}

div.admin-alert-container {
  @media screen and (min-width: $size-sm) {
    margin-left: 20%;
  }

  .alert {
    margin-left: $application_margin;
    margin-right: $application_margin;
  }
}