@import 'variables';
@import '_footer';
@import '_navigation';
@import 'landing';
@import 'dashboard';
@import 'trip-overview';
@import 'form';

@import "node_modules/font-awesome/scss/font-awesome.scss";
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

html, body {
  min-height: 100%;
  margin: 0;
  background: $application_background;
}

html {
  position: relative;
}

body {
  @media screen and (min-width: $size-sm) {
    padding-bottom: $footer_total_height;
  }
}

h1, h2, h3 {
  font-family: Raleway, sans-serif;
  font-weight: bold;
}

section.container-section {
  background: $section_background;

  div.container {
    padding-top: $application_padding;
    padding-bottom: $application_padding;
  }

  &:last-of-type {
    margin-bottom: $footer_margin;
  }
}

p.text-paragraph {
  padding: $application_padding_small 0;
  font-family: Raleway, sans-serif;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.container {
  @media screen and (min-width: $size-lg) {
    width: $application_content_width;
  }
}

a {
  cursor: pointer;
}

textarea {
  resize: vertical;
  max-width: 100%;
}

span.badge {
  &.color-transport { background-color: $color_transport; }
  &.color-important { background-color: $color_important; }
  &.color-interest { background-color: $color_interest; }
  &.color-food { background-color: $color_food; }
  &.color-accommodation { background-color: $color_accommodation; }
  &.color-other { background-color: $color_other; }
}

.alert-container {
  .alert {
    z-index: 1020;
    margin: $application_margin 0 0;

    &:last-of-type {
      margin-bottom: $application_margin;
    }
  }
}
