@import "variables";

body.error-page {
  section.error-hero-page {
    background: $error_page_background;

    div.hero-text {
      h1, p {
        color: $error_page_text_color;
      }

      h1 {
        font-size: 3em;
      }

      p {
        font-size: 1.2em;
      }

      a {
        color: $error_page_link_color;

        &:hover, &:focus {
          color: $error_page_link_color_hover;
        }
      }
    }
  }
}