@import "variables";

form {
  div.form-group {
    &.has-error {
      p {
        color: #a94442;
        margin-bottom: 5px;
      }
    }

    input.btn.btn-primary.btn-submit {
      width: 100%;
      display: block;

      @media screen and (min-width: $size-sm) {
        width: auto;
      }
    }
  }
}
