@import 'variables';

html, body {
  &.no-footer {
    padding-bottom: 0;
    height: 100%;
  }
}

.full-height-section {
  height: 100%;
  background: $landing_background;
  background-size: cover;
  position: relative;

  &.hero-image {
    background: url("../images/mountains-mobile-dark.jpg") $landing_background no-repeat center;

    @media screen and (min-width: $size-sm) {
      background-image: url("../images/mountains-laptop-dark.jpg");
    }

    @media screen and (min-width: $size-lg) {
      background-image: url("../images/mountains-desktop-dark.jpg");
    }
  }

  &:nth-of-type(2n) {
    background: $landing_background2; // TODO: For testing purposes only
  }

  h1 {
    display: inline-block;
    font-size: 48px;
    width: 100%;
  }

  .hero-text {
    width: 90%;
    top: 50%;
    left: 50%;
  }

  .back-to-top-button-container {
    position: fixed;
    bottom: 1%;
    left: 1%;
    color: $landing_text_color;
    z-index: 999;
    display: none;

    button.back-to-top {
      font-size: 1.2em;
      padding: 5px 10px;
      border: 0;
      background: $landing_controls_background;
    }
  }

  .login-button-container {
    top: 5%;
    right: 0;

    a {
      color: $landing_text_color;

      &:hover, &:focus {
        color: $landing_text_color_hover;
        text-decoration: none;
      }
    }
  }

  .scroll-down-container {
    bottom: 0;
    left: 50%;
    width: 90%;

    a {
      color: $landing_text_color;

      &:hover, &:focus {
        color: $landing_text_color;
      }

      display: inline-block;
      width: 100%;

      @media screen and (min-width: $size-sm) {
        display: inline;
      }
    }
  }

  .hero-container {
    width: 80%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, +50%);
    position: absolute;
    text-align: center;
    font-family: Raleway, sans-serif;
    color: $landing_text_color;
  }

  .hero-wrapper {
    position: relative;
    overflow: hidden;
  }

  .page-info {
    height: 100%;

    .page-preview {
      img {
        width: 100%;
      }
    }

    .page-info-text {
      margin-top: 20px;

      @media screen and (min-width: $size-sm) {
        margin-top: 0;
      }

      height: 60%;

      p {
        font-size: 24px;
        word-wrap: break-word;

        @media screen and (min-width: $size-lg) {
          font-size: 36px;
        }
      }
    }

    .page-award {
      height: 40%;
      margin-top: 15px;
      line-height: 4em;

      .page-award-trophy {}

      .page-award-text {
        p {
          font-size: 18px;
          font-weight: bold;

          @media screen and (min-width: $size-lg) {
            font-size: 27px;
          }
        }
      }
    }
  }

  .page-user {
    color: #DDD;
    margin-bottom: 30px;

    .page-user-portrait {
      img {
        margin: auto;
        width: 100px;

        @media screen and (min-width: $size-sm) {
          width: 200px;
        }
      }
    }

    .page-user-name {
      margin-top: 10px;

      p {
        font-size: 24px;
        font-weight: bold;
      }
    }

    .page-user-comment {
      padding-left: 10px;
      padding-right: 10px;

      p {
        font-size: 18px;
        font-style: italic;
      }
    }
  }

  .hero-text,
  .scroll-down-container,
  .login-button-container {
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    color: $landing_text_color;
  }
}
