@import "variables";

h1.trip-title {
  margin-bottom: 2 * $trip_overview_margin_medium;
}

nav.trip-navigation {
  background: $trip_overview_navigation_background;

  div.container {
    height: $trip_overview_navigation_height;
    color: $navigation_text_color;

    div.navbar-header {
      height: $trip_overview_navigation_height;
      z-index: 1024;
      position: relative;

      a {
        color: $navigation_text_color;
        line-height: $trip_overview_navigation_height;
        margin-left: $application_margin;

        @media screen and (min-width: $size-sm) {
          margin-left: 0;
        }
      }

      button.navbar-toggle {
        margin-top: 0;
        margin-bottom: 0;
        
        span {
          background: $navigation_text_color;
        }
      }
    }

    div#trip-navigation {
      background: $trip_overview_navigation_background;
      z-index: 1021;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      position: relative;
      border-bottom-left-radius: $application_border_radius;
      border-bottom-right-radius: $application_border_radius;

      @media screen and (min-width: $size-sm) {
        height: $trip_overview_navigation_height;
      }

      ul {
        @media screen and (min-width: $size-sm) {
          height: $trip_overview_navigation_height;
        }

        &.links-left {
          margin-bottom: 0;
        }

        &.links-right {
          margin-top: 0;

          li:first-of-type {
            border-top: 1px solid $navigation_text_color;

            @media screen and (min-width: $size-sm) {
              border-top: none;
            }
          }

          @media screen and (min-width: $size-sm) {
            float: right;

            li {
              a {
                margin-right: 0;
              }
            }
          }
        }

        li {
          margin-left: $application_margin;
          margin-right: $application_margin;
          border-bottom: 1px solid $navigation_text_color;

          @media screen and (min-width: $size-sm) {
            border-bottom: none;
            margin-right: 0;
          }

          &:last-of-type {
            border-bottom: none;
          }

          a {
            color: $navigation_text_color;
            @media screen and (min-width: $size-sm) {
              line-height: $trip_overview_navigation_height;
              padding: 0;
            }

            &:hover, &:focus {
              background: $trip_overview_navigation_background;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

div.trip-days-container {
  div.trip-day-container {
    margin-bottom: $application_margin;
    padding: 0;

    div.trip-day {
      background: $trip_overview_day_background;
      border-radius: $application_border_radius;
      box-shadow: 0 0 $application_shadow_distance $application_shadow_color;

      div.trip-day-head {
        padding: $trip_overview_padding_medium;

        a {
          display: block;
          height: 50px;
          padding-left: $application_padding_small;
          padding-right: $application_padding_small;
          margin-left: $application_margin_small;
          line-height: 50px;
          color: $trip_overview_text_color;
          font-size: 25px;
          float: right;

          &:last-of-type {
            margin-left: 0;
          }

          &:hover, &:focus {
            color: $trip_overview_text_color_hover;
          }
        }

        img.trip-day-thumbnail {
          float: left;
          width: 50px;
          height: 50px;
          margin-right: $trip_overview_margin_medium;
        }

        h2 {
          margin-top: $trip_overview_margin_medium;
          margin-bottom: $trip_overview_margin_medium;
          line-height: 30px;
          font-size: 24px;
          display: inline-block;
          float: left;
        }
      }

      div.trip-day-body-container {
        div.trip-day-body {
          padding: $application_padding;
          border-top: 1px solid #CCC;

          &.collapse {
            border: none;
          }

          div.action-container {
            margin-bottom: $application_margin;

            &:last-of-type {
              margin-bottom: 0;
            }

            h3.action-title {
              color: $trip_overview_text_color;
              margin-top: 0;
              margin-bottom: $trip_overview_margin_medium;
              font-size: 20px;

              span.badge {
                line-height: 13px;
                margin-bottom: 3px;
              }
            }

            p.action-description {
              color: $trip_overview_sub_text_color;
              margin-bottom: 0;
              text-align: justify;
            }
          }
        }
      }
    }
  }
}

div.trip-days-container:after,
div.trip-day-head:after {
  clear: both;
  content: "";
  display: table;
}