
// COLORS
$eggshell:  #F0EAD6;
$white:     #FFF;
$yellow:    #E8B549;
$teal:      #33658A;
$aqua:      #3993DD;
$lightgray: #DDD;
$midgray:   #777;
$darkgray:  #333;
$black:     #000;

// SCREEN SIZES - lower inclusive bound, xs < 768px
$size-sm: 768px;
$size-md: 992px;
$size-lg: 1200px;

// APPLICATION VARIABLES
$application_padding: 15px;
$application_padding_small: 5px;
$application_margin: 15px;
$application_margin_small: 5px;
$application_content_width: 1070px;
$application_border_radius: 5px;
$application_shadow_color: $midgray;

// LANDING PAGE VARIABLES
$landing_text_color: $white;
$landing_background: $darkgray; // TODO: Decide between teal and darkgray
$landing_background2: $aqua;
$landing_controls_background: $black;

// NAVIGATION VARIABLES
$navigation_height: 60px;
$navigation_background: $aqua;
$navigation_text_color: $white;
$navigation_sub_background: $white;
$navigation_sub_text_color: $midgray;
$navigation_sub_text_color_hover: $darkgray;

// SECTION VARIABLES
$section_background: $white;

// FOOTER VARIABLES
$footer_text_color: $white;
$footer_main_height: 100px;
$footer_main_background: #283b3a;
$footer_copyright_height: 40px;
$footer_copyright_background: #132423;
$footer_total_height: $footer_main_height + $footer_copyright_height;
$footer_margin: 2*$application_margin;
$footer_margin_small: 2*$application_margin_small;