{% extends "layouts/app.html.twig" %}

{% block title %}Forgotten Password{% endblock %}

{% block content %}

    <!-- TODO: Localize -->
    <section class="container-section">
        <div class="container">
            <div class="login-container col-md-offset-4 col-md-4">
                <h2 class="text-center">Forgotten Password</h2>
                <form action="{{ route('forgotten-password.submit') }}" method="post" class="form-horizontal">
                    <input name="csrf_token" type="hidden" value="{{ csrf_token }}">
                    <div class="form-group">
                        <label class="control-label" for="forgotten_password_email">Email</label>
                        <input class="form-control" type="email" name="forgotten_password_email" id="forgotten_password_email">
                    </div>
                    <div class="form-group">
                        <input class="hidden-xs hidden-sm btn btn-primary" type="submit" value="Send password reset email">
                        <input class="visible-xs visible-sm form-control btn btn-primary" type="submit" value="Send password reset email">
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}