{% extends "layouts/app.html.twig" %}

{% block title %}Profile{% endblock %}

{% block content %}

    <section class="container-section">
        <div class="container">
            <h2 class="text-center">Profile</h2>
        </div>
    </section>

{% endblock %}