{% extends "layouts/app.html.twig" %}

{% block title %}Password Reset{% endblock %}

{% block content %}

    <!-- TODO: Localize -->
    <section class="container-section">
        <div class="container">
            <div class="login-container col-md-offset-4 col-md-4">
                <h2 class="text-center">Password Reset</h2>
                <form action="{{ route('reset-password.submit', {'email': email, 'token': token}) }}" method="post" class="form-horizontal">
                    <input name="csrf_token" type="hidden" value="{{ csrf_token }}">
                    <div class="form-group">
                        <label class="control-label" for="reset_password">New password</label>
                        <input type="password" id="reset_password" name="reset_password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="reset_password_confirm">New password again</label>
                        <input type="password" id="reset_password_confirm" name="reset_password_confirm" class="form-control">
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary btn-submit" type="submit" value="Reset">
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}