{% extends "layouts/app.html.twig" %}

{% block title %}Page not found{% endblock %}

{% block content %}

    <section class="container-section">
        <div class="container">
            <h1 class="text-center">Page not found</h1>
            <h2 class="text-center">The page you were looking for doesn't exist...</h2>
        </div>
    </section>

{% endblock %}