{% extends "layouts/app.html.twig" %}

{% block title %}Error{% endblock %}

{% block content %}

    <section class="container-section">
        <div class="container">
            <h1 class="text-center">Something went wrong</h1>
            <h2 class="text-center">{{ message }}</h2>
        </div>
    </section>

{% endblock %}