{% extends "layouts/error.html.twig" %}

{% block content %}

    <h1 class="text-center">{{ t('error.base.heading') }}</h1>
    <p class="text-center">{{ t('error.base.message') }}</p>
    <p class="text-center">{{ t('error.base.link.text') }} <a href="/">{{ t('error.base.link.content') }}</a></p>

{% endblock %}
