{% extends "layouts/email.html.twig" %}

{% block content %}

    <p>
        You receive this email because someone tried to reset a password<br>
        for an account associated with this email address on our website.
    </p>
    <p>
        If you didn't ask for this change, you can safely ignore this email.<br>
        If you did, please visit <a href="triphatch.loc/reset-password/{{ email }}/{{ token }}">this link</a>.
    </p>

{% endblock %}