<footer class="footer">
    <div class="footer-main">
        <div class="container">
            <div class="logo-container">
                <a href="#">Logo</a>
            </div>
            <nav>
                <ul class="social">
                    <li><a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="http://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
                </ul>
                <ul class="links">
                    <li><a href="/layout">Layout</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container text-left">
            © 2017 <a href="http://www.github.com/martinbrom">Martin Brom</a>
        </div>
    </div>
</footer>