<nav class="navbar">
    <div class="container navigation">
        <div class="navbar-header">
            <a class="logo" href="/">Logo</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav navbar-right">
                {% if user is not null %}
                    <li><a href="/logout" class="logout">Logout</a></li>
                    <li class="user-avatar-wrapper">
                        <a href="/profile">
                            <img class="img img-responsive img-circle user-avatar" src="/images/thumbnails/{{ user.path }}" alt="{{ user.description }}">
                        </a>
                    </li>
                {% else %}
                    <li><a href="/login" class="login">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>