<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{{ t('layout.admin.title') }}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/css/app.css">
    </head>
    <body class="no-footer">
        <script src="/js/app.js"></script>
        {% include 'layouts/_adminSideBar.html.twig' %}
        {% block content %}{% endblock %}
    </body>
</html>