<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}Trip Hatch{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="css/app.css">
    </head>
    <body>
        <script src="js/app.js"></script>
        {% include 'layouts/_navigation.html' %}
        {% block body %}{% endblock %}
        {% include 'layouts/_footer.html' %}
    </body>
</html>