<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}Trip Hatch{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/css/app.css">
    </head>
    <body>
        <script src="/js/app.js"></script>
        {% include 'layouts/_navigation.html.twig' %}

        {% if isOrganiser %}
            {% include "layouts/_tripNavigation.html.twig" %}
            {% include "modals/trip-delete.html.twig" %}
        {% endif %}

        <div class="container alert-container">
            {% if alerts is not null %}
                {% for alert in alerts %}
                    {% include 'layouts/_alert.html.twig' %}
                {% endfor %}
            {% endif %}

            {% if validation_errors is not empty %}
                {% for fields in validation_errors %}
                    {% for error in fields %}
                        <div class="alert alert-danger alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{ error }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>

        {% block content %}{% endblock %}
        {% include 'layouts/_footer.html.twig' %}
    </body>
</html>