{% extends "layouts/app.html.twig" %}

{% block title %}Change password{% endblock %}

{% block content %}

    <section class="container-section">
        <div class="container">
            <h2 class="text-center">Change password form</h2>
            <p>form and stuff</p>
        </div>
    </section>

{% endblock %}