{% extends "layouts/app.html.twig" %}

{% block title %}Change display name{% endblock %}

{% block content %}

    <section class="container-section">
        <div class="container">
            <h2 class="text-center">Change display name form</h2>
            <p>form and stuff</p>
        </div>
    </section>

{% endblock %}