{% extends "layouts/app.html.twig" %}

{% block title %}Profile{% endblock %}

{% block content %}

    <section class="container-section">
        <div class="container">
            <h2 class="text-center">Profile</h2>
            <a href="/change-display-name">Change display name</a>
            <a href="/change-password">Change password</a>
        </div>
    </section>

{% endblock %}